@media screen {
  .phone:hover .icon--phone {
    animation: phone-ring 1s ease-in;
  }

  .email:hover .icon--email,
  .location:hover .icon--location,
  .linked-in:hover .icon--linked-in {
    animation: jello-vertical 0.9s both;
  }

  .phone:hover .icon--phone {
    color: var(--black);
  }

  .email:hover .icon--email {
    color: var(--outlook-blue);
  }

  .location:hover .icon--location {
    color: var(--google-red);
  }

  .linked-in:hover .icon--linked-in {
    color: var(--linked-in-blue);
  }

  .action-button {
    animation: show 0.3s both;
  }

  .action-button--show {
    animation: show 0.3s both;
  }

  .action-button--hide {
    animation: hide 0.3s both;
  }

  .action-button:first-child {
    animation-delay: 0.03s;
  }

  .work__term,
  .school__term {
    transition: all 0.1s;
  }

  .work__term:hover,
  .school__term:hover {
    transform: scale(1.1) translateY(-1%);
    box-shadow: 0 3px 5px 1px var(--shadow-grey);
  }

  .action-button:hover .icon--action-button {
    color: var(--red);
    transition: all 0.1s;
  }

  @keyframes show {
    0% {
      opacity: 0;
      transform: translateX(7rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes hide {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(7rem);
    }
  }

  @keyframes scale-up {
    0% {
      transform: scale(1) translateY(0);
      box-shadow: 0 3px 5px 1px var(--shadow-grey);
    }
    100% {
      transform: scale(1.2) translateY(-1%);
      box-shadow: 0 3px 5px 1px var(--shadow-grey);
    }
  }

  @keyframes jello-vertical {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes phone-ring {
    0% {
      transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
      transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
      transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
      transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
      transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
      transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
      transform: rotate(0) scale(1) skew(1deg);
    }
  }
}
